$primary : #000;
$secondary: #ffb300;

$text-primary: #fff;
$text-secondary: #000;
$text-third: #ffb300;

*, body, html{
    padding: 0;
    margin: 0;
}
html{
    background-color:$primary;
    max-height: 100vh;
    max-width: 100vw;
}

body{
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow: auto;
}

.App{
    text-align: center;
    font-size: 1rem;
    justify-content: center;    
    background-color: $primary;
    color: $secondary;
    label{
        color: #f3dba1;
        text-decoration: underline;
    }
    .loader{
        background-color: $primary;
        position: static;
        .progress{
            margin: 0;
            padding: 0;
        }
    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    .Main{
        display: flex;
        justify-content: center;
        .empty{
            align-self: center;
            font-size: 2.5em;
        }
        flex-basis: 75%;
        background-color: $primary;
        .mainwrapper{
            .card{
                background-color: rgba(211, 208, 208, 0.116);
            }
            background-color: $primary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .image{
                background-color: $primary;
                img{
                    height: 100%;
                }
            }
            .movie-info{
                font-size: .8rem;
                line-height: 1.5em;           
            }
            .info-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .movie_info{
                    font-size: .75rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .movie_info2{
                    font-size: .75rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                } 
            }
        }        
    }
    .List{
        .collection{
            border: none;
        }
        p{
            font-size: .75rem;
            word-wrap: normal;
        }
        flex-basis: 25%;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        .list-item{
            cursor: pointer;
            background-color: rgba(211, 208, 208, 0.116);
            border: .5px solid rgba(211, 208, 208, 0.116);
        }
    }
}

.List::-webkit-scrollbar{
    width: 3px;
    background-color: $primary;
}
.List::-webkit-scrollbar-thumb{
    background-color: $secondary;
    border-radius: 10%;
}
.List::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar{
    width: 3px;
    background-color: $primary;
}
body::-webkit-scrollbar-thumb{
    background-color: $secondary;
    border-radius: 10%;
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.Tabs{
    .sbtn1{
        color: $text-third;
        transition: all 0.5s ease;
    }
    .sbtn2{
        color: $text-secondary;
        transition: all 0.5s ease;
    }
    .Buttons{
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-bottom: 10px;
    }
}